<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title><%= current_article.title + ' - ' unless current_article.nil? %> Cristiano Betta - Senior Developer Advocate @ Braintree and PayPal</title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= current_page.data.tags + ", " if current_page.data.tags %>cristiano, betta, paypal, braintree, ruby, rails, payments, developer, advocate">

    <%= stylesheet_link_tag "all" %>
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans:400,400italic,300,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <%= feed_tag :atom, "/atom.xml", title: "Atom Feed" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body class="<%= page_classes %>">
    <div class="container">
      <%= partial "partials/navigation" unless root? %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= yield %>
        </div>
      </div>
      <%= partial "partials/bio" %>
    </div>
    <%= google_analytics_tag %>
  </body>
</html>
