---
title: "Developer Onboarding: Stripe"
date: 2016-10-04 13:00 BST
tags: developer experience, developer onboarding
icon: camera retro
published: false
---

This is the third in a series of articles focussing on reviewing [Developer Onboarding](https://betta.io/blog/categories/developer-onboarding/). In this post I'm looking at the brand new design and onboarding offered by [Stripe](https://stripe.com/).

## Criteria

<div class="ui ordered tiny steps">
<div class="step">
<div class="content">
<div class="title">
  Exploration
</div>
</div>
</div>
<div class="step">
<div class="content">
<div class="title">
  Onboarding
</div>
</div>
</div>
<div class="step">
<div class="content">
<div class="title">
  Reference
</div>
</div>
</div>
</div>

I will be looking at 3 aspects of the developer onboarding experience:

1. **Exploration**: Does the experience help me to understand or try out their product before signing up for an account?
2. **Onboarding &amp; Integration:** How well does the product guide me from their main site to create an account and to make that first API call or integration?
3. **Reference:** Once I have my first integration in place, how hard is it to find the full reference documentation for the API call I made?

## Pusher

#### _Build Apps, Not Infrastructure._

[![Stripe](/images/dx/stripe/stripe.png)](https://stripe.com){:.ui.image.fluid.bordered}

_"Stripe is an American technology company, operating in over 25 countries, that allows both private individuals and businesses to accept payments over the Internet."_ - [Wikipedia](https://en.wikipedia.org/wiki/Stripe_(company))

Stripe is probably one of the companies most famous for having an excellent Developer Experience. Their reputation as a "developer first" company is well established.

## Exploration

[`https://pusher.com/`](https://pusher.com/)

<%= dx_image 'stripe', 5, 'Landing Page' %>

<%= dx_image 'stripe', 6, 'Landing Page' %>

<%= dx_image 'stripe', 7, 'Landing Page' %>

<%= dx_image 'stripe', 8, 'Landing Page' %>

<%= dx_image 'stripe', 10, 'Landing Page' %>

<%= dx_image 'stripe', 11, 'Landing Page' %>

<%= dx_image 'stripe', 2, 'Landing Page', 'gif' %>

<%= dx_image 'stripe', 13, 'Landing Page' %>

<%= dx_image 'stripe', 14, 'Landing Page' %>

## Onboarding

<%= dx_image 'stripe', 10, 'Landing Page' %>

## Integration

## Reference

## Emails

## Conclusions


> <div class="ui huge star rating" data-rating="4" data-max-rating="5"></div>
> *Almost flawless*

<!-- 1 Impossible
2 Barely possible
3 Harder than it should be
4 Almost flawless
5 Flawless -->

Pusher is an example of a developer product that has to teach developers how to use their product on both the frontend and backend. They have to to solve the problem of onboarding a developer in not just one but two programming languages! Pusher's first-use experience is an excellent example of how to solve this problem with as little friction as possible.

### The good

* A great first use experience
  * It helped me set up my first app, allow me to get my API credentials
  * It allowed me to pick my frontend and backend languages
  * It provided me with code samples for the frontend, backend, and a cURL sample
  * The code samples already had my API key prefilled
* A free plan allowing me to try out their product before paying
* A way to test the application before committing to an account
* An excellent follow up email to get me back to integrating if I somehow left the onboarding flow
* It took 0 clicks to get to a first code sample, as there's one right on the homepage

### The bad

* The flow from registration to login had me very confused, and I'm still not sure if this is a bug or not.
* The warning about my email address already being in use with Github/Google might have been beneficial to them but the error message did nothing help me proceed to the next step.
* The developer documentation seems unstructured and occassionally incomplete. It's an underwhelming experience that requires an experienced developer to be able to find the right pages required.

## Next

That's it for this second post on [Developer Onboarding](/blog/categories/developer-onboarding/). Let me know in the comments below what you think of this post and if I should continue. I'd also love to know what company you think I should review next.

## Hire me?

I am a [freelance Developer Relations consultant](https://work.betta.io). If you want to know more about my work have a look at my [portfolio](https://work.betta.io) and if you'd like for me to help improve your company's Developer Experience then most definitely reach out to me via [Twitter](https://twitter.com/cbetta) or [email](mailto:work@betta.io)!
