---
pageable: true
per_page: 5
---
<h1>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%B %e, %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%B %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<% page_articles.each_with_index do |article, i| %>
  <div class="article">
    <%= partial 'partials/article-title', locals: { article: article } %>

    <%= article.summary %>

    <p>
      <%= link_to "...", article, class: 'article__more' %>
    </p>
  </div>
<% end %>


<%= partial 'partials/pagination', locals: { prev_page: prev_page, next_page: next_page } %>
