---
pageable: true
per_page: 15
---

%h2.ui.divider.horizontal
  Archive :
  - case page_type
  - when 'day'
    = Date.new(year, month, day).strftime('%B %e, %Y')
  - when 'month'
    = Date.new(year, month, 1).strftime('%B %Y')
  - when 'year'
    = year


.ui.relaxed.divided.list
  - page_articles.each_with_index do |article, i|
    .item
      %i.large.middle.aligned.icon.icon-fixed-width{class: article.data.icon }
      .content
        = link_to article.title, article, class: 'header'
        .description= article.date.strftime('%A %B %e, %Y')

= partial 'partials/pagination', locals: { prev_page: prev_page, next_page: next_page }
