---
layout: page
---

<h1>Code</h1>

<p>
  Below is a selection of projects I've worked on over the years. Most of the
  code can be found on my <a href="https://github.com/cbetta">GitHub</a>. Some
  of them are pretty big projects, others are just little things I wanted to
  play with. I mostly build my stuff in <a href="https://www.ruby-lang.org/en/">
  Ruby</a> - using <a href="http://rubyonrails.org/">Rails</a>,
  <a href="http://www.rubymotion.com/">RubyMotion</a>, and
  <a href="http://voltframework.com/">Volt</a> - and Javascript at the frontend.
</p>

<p>
  These days I deploy most of my Rails apps either to
  <a href="http://heroku.com">Heroku</a> using Git, or to a
  VPS using <a href="http://www.ansible.com/">Ansible</a>,
  <a href="http://capistranorb.com/">Capistrano</a> and
  <a href="https://github.com/surzycki/capistrano-foreman">capistrano3-foreman</a>.
  I write my tests using <a href="http://rspec.info/">RSpec</a> - though my
  coverage could be a bit better - and I apply continuous deployment mostly
  using <a href="https://codeship.com">CodeShip</a>.
</p>

<p>
  I won't join the editor wars but for now my choice is Github's
  <a href="https://atom.io">Atom</a>. I love Github, my code lives and breaths
  there. A MacBook Pro is my workstation, Ubuntu is on the servers. I can't live
  without <a href="http://www.irradiatedsoftware.com/sizeup/">SizeUp</a>,
  <a href="http://www.macbartender.com/">Bartender</a>,
  <a href="https://github.com/robbyrussell/oh-my-zsh">oh-my-zsh</a> and Chrome.
</p>

<p>
  I love building tools that solve problems, I can't stand seeing people do
  repetative tasks by hand. I lead a team at
  <a href="https://paypal.com">PayPal</a>/<a href="https://braintreepayments.com">Braintree</a>
  that manages all the internal and external facing properties owned by the
  Braintree_PayPal Developer Relations team - follow us on
  <a href="https://twitter.com/braintree_dev">Twitter</a>.
</p>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/battlehack.jpg'), 'http://battlehack.org' %>

    <h2>BattleHack</h2>
    <h3>&lt;2014/&gt; &lt;work/&gt; &lt;hackathon/&gt;</h3>

    <p>
      The BattleHack project is the largest global corporate hackathon series.
      Since 2014 the series is backed by a full grown CMS, invite system, email
      management system, and subscription service. The system is an integral
      part of over 14 hackathons a year, managing the hackathons before signup,
      in lead up to the event, and during the event.
    </p>

    <p class='project__links'>
      <%= link_to 'Website', 'http://battlehack.org' %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/blueprint.jpg'), 'https://blueprint.paypal.com' %>

    <h2>Startup Blueprint</h2>
    <h3>&lt;2013/&gt; &lt;work/&gt;</h3>

    <p>
      The Startup Blueprint project offers free processing and white glove
      support to young startups. Since 2013 I have lead the project to build out
      the site that both functions as CMS, CRM, and automated invite system to
      the program - working with internal and external developers and designers
      to deliver a tool that powers the Startup Blueprint team of Account Managers
      and Startup Advisors.
    </p>

    <p class='project__links'>
      <%= link_to 'Website', 'https://blueprint.paypal.com' %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/hackcoc.jpg'), 'http://hackcodeofconduct.org' %>

    <h2>The Hack Code of Conduct</h2>
    <h3>&lt;2014/&gt; &lt;hackathon/&gt;</h3>

    <p>
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

    </p>

    <p class='project__links'>
      <%= link_to 'Website', 'http://hackcodeofconduct.org' %> |
      <%= link_to 'Source', 'https://github.com/cbetta/hackcoc' %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/dokkufy.jpg'), 'https://github.com/cbetta.dokkufy' %>

    <h2>Dokkufy</h2>
    <h3>&lt;2014/&gt; &lt;work/&gt;</h3>

    <p>
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>

    <p class='project__links'>
      <%= link_to 'Source', 'https://github.com/cbetta.dokkufy' %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/manifesto.jpg'), 'http://hackdaymanifesto.com' %>

    <h2>The HackDay Manifesto</h2>
    <h3>&lt;2012/&gt; &lt;hackathon/&gt;</h3>

    <p>
      The HackDay Manifesto is a project set up by the Geeks of London
      community to help new HackDay organisers understand the essentials
      needed to run a successful HackDay.
    </p>

    <p class='project__links'>
      <%= link_to 'Website', 'http://hackdaymanifesto.com' %> |
      <%= link_to 'Source', 'https://github.com/hackdaymanifesto/hackdaymanifesto.github.com' %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/paypal.jpg'), 'https://paypal.com/' %>

    <h2>PayPal Wishlist</h2>
    <h3>&lt;2011/&gt; &lt;work/&gt;</h3>

    <p>
      The PayPal Wishlist web app was a marketing project by PayPal UK and
      PayPal NL, allowing anyone to specify their Christmas wish list and
      possibly win it entirely. Working with PayPal was a pleasure and dealing
      with the amazing amount of interest they generated, and the accompanied
      scaling issues, was extremely interesting.
    </p>

    <p class='project__links'>
      <%= link_to 'Website', 'https://paypal.com/' %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/json-bloomfilter.jpg'), 'https://rubygems.org/gems/json-bloomfilter' %>
    <h2>JSON Bloom Filter</h2>
    <h3>&lt;2012/&gt; &lt;personal/&gt; &lt;gem/&gt;</h3>

    <p>
      A bloom filter implementation in Ruby and Javascript that is serialisable
      to JSON and compatible between both languages. Very useful when needing
      to train a bloom filter in one language and using it in the other.
    </p>

    <p class='project__links'>
      <%= link_to 'RubyGems', 'https://rubygems.org/gems/json-bloomfilter' %> |
      <%= link_to 'Source', 'https://github.com/cbetta/json-bloomfilter' %>
    </p>

  </div>
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/trifle.jpg'), 'https://rubygems.org/gems/trifle' %>
    <h2>Trifle</h2>
    <h3>&lt;2012/&gt; &lt;work/&gt; &lt;gem/&gt;</h3>

    <p>
      A super fast GeoIP country lookup in Redis using the GeoIP CSVs
      from <a href="http://www.maxmind.com/app/geolite">maxmind.com</a>. Build
      for use at EmberAds.
    </p>

    <p class='project__links'>
      <%= link_to 'RubyGems', 'https://rubygems.org/gems/trifle' %> |
      <%= link_to 'Source', 'https://github.com/cbetta/EmberAds/trifle' %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/ahotw.jpg'), 'https://github.com/cbetta/ahotw' %>

    <h2>A mobile history of the world in 100 objects</h2>
    <h3>&lt;2011/&gt; &lt;hackathon/&gt;</h3>

    <p>
      A mobile version of the History of the World in 100 Objects site.
      Build in Symfony and jQuery mobile. Winner of the London History Hackday
      2011. Rewritten in Rails in 2012.
    </p>

    <p class='project__links'>
      <%= link_to 'Source', 'https://github.com/cbetta/ahotw' %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/histogram.jpg'), 'http://histogram.cgb.im' %>

    <h2>Histogram Bookmarklet</h2>
    <h3>&lt;2011/&gt; &lt;hackathon/&gt;</h3>

    <p>
      A bookmarklet and app that generates histograms for any photo on the web.
      Written in Javascript and Sinatra.
    </p>

    <p class='project__links'>
      <%= link_to 'Website', 'http://histogram.cgb.im' %> |
      <%= link_to 'Source', 'https://github.com/cbetta/histogram' %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= link_to image_tag('code/charitybox.jpg'), 'https://twitter.com/charityboxapp' %>
    <h2>CharityBox</h2>
    <h3>&lt;2010/&gt; &lt;hackathon/&gt;</h3>

    <p>
      Winner of <a href="http://charityhack.org/">CharityHack 2010</a>.
      CharityBox is a browser extension and web app that allows anyone to raise
      money for their selected charities without having to spend any money.
      Currently being refactored for relaunch in 2013.
    </p>

    <p class='project__links'>
      <%= link_to 'Twitter', 'https://twitter.com/charityboxapp' %> |
      <%= link_to 'News article', 'http://blog.justgiving.com/community/charityhack-2010/' %>
    </p>
  </div>
</div>
