---
description: >
  I'm a Developer Experience (DX) designer that helps to improve the onboarding,
  get started and first use experiences of developer products. Why not book
  me for an initial consultation?

  My previous jobs include a 3 year stint at PayPal as a senior developer
  advocate. I also run hackathons and unconferences with my friends at
  Geeks of London.

  I am passionate about Developer Experience, especially the initial
  onboarding of developers with little to no development experience. I'm also a
  developer that loves to code in Ruby and Javascript.
---

= image_tag 'cbetta.jpg', class: 'ui small circular image centered'

%h1.ui.header.centered.name
  %strong Cristiano
  Betta

%p
  I'm a Developer Experience (DX) designer that helps startups and enterprises to
  improve the onboarding, get started and first use experiences of their developer
  products.

  %a{href: "http://work.betta.io"} Book some time with me
  for an initial consultation.

%p
  My previous jobs include a 3 year stint at PayPal as a senior developer
  advocate and a few startups. I also run hackathons and unconferences with my friends at
  = succeed "." do
    %a{href: "http://geeksoflondon.com"}Geeks of London

%p
  I am passionate about Developer Experience, especially the
  onboarding of developers with little to no development experience. Finally, I'm also still a
  developer that loves to code in Ruby and Javascript.

- if data.talks.future.count > 0
  %h2.ui.horizontal.divider
    %a{href: '/talks'} Upcoming Events

  .ui.relaxed.divided.list
    - data.talks.future.each_with_index do |talk, i|
      .item
        %i.large.middle.aligned.icon.icon-fixed-width{class: talk.icon }
        .content
          = link_to talk.title, talk.conference_url, class: 'header'
          %small
            = link_to talk.conference_url do
              %i.flag{ class: talk.country }
              = talk.conference
          .description= talk.date

%h2.ui.horizontal.divider
  %a{href: '/blog'} From the blog

.ui.relaxed.divided.list
  - page_articles.select{|article| article.data.tags.include?('developer experience')}.first(20).each_with_index do |article, i|
    .item
      %i.large.middle.aligned.icon.icon-fixed-width{class: article.data.icon }
      .content
        = link_to article.title, article, class: 'header'
        .description= article.date.strftime('%A %B %e, %Y')

%h2.ui.horizontal.divider
  %a{href: '/blog'}  More Posts
